.list-element-wrapper {
    display: flex;
    flex-direction: column;

    .list-element-row {
        display: flex;
        padding: 4px;

        div {
            flex: 1;
            padding: 0 8px;
        }

        &:hover {
            background-color: lightblue;
        }
    }

    .list-element-content {
        padding-left: 100px;
    }
}